body {
  background: linear-gradient(45deg, red, yellow, lime);
  padding: 50px;
  font-family: Comic Sans, cursive;
}

a {
  color: #00B7FF;
}

.button-dup {
  display: grid;
  grid-template-columns: repeat(50, 50px);
  gap: 1px;
}

img {

}

button {
  font-size: 12px;
  padding: 10px;
}