body {
  background: linear-gradient(45deg, red, yellow, lime);
  font-family: Comic Sans, cursive;
  animation: flash 1s infinite;
}

a {
  color: #00B7FF;
}

.button-dup {
  display: grid;
  grid-template-columns: repeat(50, 50px);
  gap: 1px;
}

@keyframes flash {
  0% { filter: brightness(1); }
  50% { filter: brightness(2); }
  100% { filter: brightness(1); }
}

img {
  width: 300px;
  border: 5px dashed cyan;
}

button {
  font-size: 12px;
  padding: 10px;
}

.evasive-button {
  position: absolute;
  transition: all 0.2s ease;
  padding: 10px;
  font-size: 12px;
  background-color: #ff69b4;
  border: 2px solid black;
  cursor: pointer;
}